@import "../../../variables";

$bottom-panel-color: #f6f6f6;
$bottom-panel-height: 50px;

.bottom-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: $bottom-panel-height;
  min-height: $bottom-panel-height;
  margin-top: auto;
  padding: 5px 5px;
  background-color: $bottom-panel-color;

  &__input-group {
    display: flex;

    width: 75%;
    max-width: 400px;
    height: 100%;
  }

  &__barcode-input {
    font-size: 0.9rem;
    width: 100%;
    height: 100%;
    padding: 0 5px;
    text-align: center;
    letter-spacing: 1px;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    outline: none;
  }

  &__add-button,
  &__scan-button {
    font-size: 0.9rem;
    height: 100%;
    cursor: pointer;
    color: white;
    border: none;
    outline: none;
    background-color: $accent-color;
  }

  &__add-button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 35px;
    padding: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  &__add-icon {
    width: 22px;
    height: 22px;
    color: white;
  }

  &__scan-button {
    width: 25%;
    max-width: 120px;
    margin-left: 5px;
    border-radius: 3px;
  }
}
