.product-card {
  position: relative;
  width: 100%;
  display: flex;
  background-color: white;
  border-radius: 5px;

  &--disabled {
    background-color: #e7e7e7;
  }

  &__content {
    min-height: 90px;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
  }

  &__header {
    padding: 10px;
    padding-bottom: 0;
  }

  &__name {
    font-size: 0.8rem;

    &--soft {
      font-size: 0.7rem;
    }
  }

  &__body {
    padding: 10px;
  }

  &__image {
    height: 50px;
    width: auto;
    border-radius: 5px;
    background-color: black;

    // Hide the alt text
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  &__controls {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 40px;
  }

  &__button {
    height: 25px;
    width: 25px;
    border: none;
    outline: none;
    background: none;
    padding: 0;
    cursor: pointer;

    &-icon {
      width: 100%;
      height: 100%;
    }
  }

  &__quantity-indicator {
    font-weight: 700;
    font-size: 1.1rem;
  }
}
