@import "./../../variables";

.login-inputs, .register-inputs {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;

  &__email, &__password {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px $accent-color solid;
    border-radius: 5px;
  }

  label[for=email], label[for=password] {
    margin-bottom: 5px;
  }

  &__submit-button {
    @include reset-button;
    padding: 10px;
    color: #ffffff;
    border-radius: 5px;
    background-color: $accent-color;

  }

}
