@import "./../../variables";

.search-input {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 0 1em;
  border-radius: $control-border-radius;
  background-color: $secondary-background-color;


  &__input {
    @include reset-input();
    font-size: $medium-font-size;
    width: 100%;
    height: 100%;
    color: $font-color-dark-grey;
  }

  &::placeholder {
    color: $font-color-light-grey;
  }

  &__search-icon {
    height: 60%;
    margin-right: 0.6em;
    color: $font-color-light-grey;
  }
}