$sm-screen: 640px;
$md-screen: 768px;
$lg-screen: 1024px;
$xl-screen: 1280px;
$xxl-screen: 1536px;

$accent-color: #80b918;
$color3: #f6f6f6;
$color2: #000000;
$color1: #ffffff;
$color4: #cdcdcd;


@mixin reset-button() {
  outline: none;
  border: none;
  cursor: pointer;
  background: none;
}

@mixin green-button() {
  @include reset-button();
  background-color: $accent-color;
  color: white;
  &:hover {
    background-color: darken($accent-color, 5%);
  }
}