// SCREEN SIZES
$sm-screen: 640px;
$md-screen: 768px;
$lg-screen: 1024px;
$xl-screen: 1280px;
$xxl-screen: 1536px;

$breakpoints: (
        mobile : $sm-screen,
        tablet: $md-screen,
        desktop: $lg-screen
);


// COLORS
$app-background-color: #FFFFFF;

$font-color-white: #FFFFFF;
$font-color-light-grey: #808080;
$font-color-dark-grey: #404040;
$font-color-black: #000000;
$font-color-warning: #e01111;
$font-color-good: #26bb15;

$primary-background-color: #FAFAFA;
$secondary-background-color: #F7F7F7;

$primary-element-color: #2FAE26;
$secondary-element-color: #F2F2F2;
$tertiary-element-color: #E7E7E7;


// FONT SIZES
$giant-font-size: 1.825rem;
$big-font-size: 1.25rem;
$medium-font-size: 1rem;
$normal-font-size: 0.875rem;
$little-font-size: 0.75rem;


// SIZES
$control-border-radius: 3px;
$card-border-radius: 5px;
$navigation-bar-size: 50px;
$page-content-spacing: 20px;
$max-content-width: 1000px;

//TODO: Create content spacing variables (separation between each element of field for example)


// MIXINS
@mixin reset-button() {
  outline: none;
  border: none;
  cursor: pointer;
  background: none;
}

@mixin reset-input() {
  outline: none;
  border: none;
  background: none;
}

@mixin button-colorization($color) {
  background-color: $color;
  &:hover, &:focus {
    background-color: scale-color($color, $lightness: -5%);
  }
}

@mixin border-radius-right($size) {
  border-bottom-right-radius: $size;
  border-top-right-radius: $size;
}

@mixin border-radius-left($size) {
  border-bottom-left-radius: $size;
  border-top-left-radius: $size;
}

@mixin border-radius-top($size) {
  border-top-left-radius: $size;
  border-top-right-radius: $size;
}

@mixin border-radius-bottom($size) {
  border-bottom-left-radius: $size;
  border-bottom-right-radius: $size;
}

@mixin min-width($breakpoint) {
  @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}


@mixin green-button() {
  @include reset-button();
  background-color: $primary-element-color;
  color: $font-color-white;
  &:hover {
    background-color: darken($primary-element-color, 5%);
  }
}