$sm-screen: 640px;
$md-screen: 768px;
$lg-screen: 1024px;
$xl-screen: 1280px;
$xxl-screen: 1536px;

$app-background-color: #FFFFFF;

$font-color-white: #FFFFFF;
$font-color-light-grey: #808080;
$font-color-dark-grey: #404040;
$font-color-black: #000000;

$primary-background-color: #FAFAFA;
$secondary-background-color: #F7F7F7;

$primary-element-color: #2FAE26;
$secondary-element-color: #F2F2F2;
$tertiary-element-color: #E7E7E7;


@mixin reset-button() {
  outline: none;
  border: none;
  cursor: pointer;
  background: none;
}

@mixin green-button() {
  @include reset-button();
  background-color: $primary-element-color;
  color: $font-color-white;
  &:hover {
    background-color: darken($primary-element-color, 5%);
  }
}