.product-tags-field {
  font-size: 0.8rem;
  margin-bottom: 10px;

  &__name {
    font-weight: 600;
    margin-bottom: 5px;
  }

  &__list {
    line-height: 0.95rem;


    &-item, &-show-more {
      margin-left: 10px;
    }

    &-show-more {
      margin-top: 2px;

      button {
        outline: none;
        cursor: pointer;
        background: none;
        border: none;
        padding: 0;
        font-weight: 600;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__no-tags {
    font-style: italic;
    margin-left: 10px;
  }
}

