.product-content {
  overflow-y: auto;
  width: 100%;
  height: 100%;
  padding: 10px;

  &__attributes {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 40px;
  }

  &__attribute-box {
    height: 100%;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__attributes {
    margin-bottom: 10px;
  }

  &__attribute {
    max-width: 100%;
    height: 100%;
    object-fit: contain;

  }

  &__field {
    font-size: 0.8rem;

  }

  &__bulleted-list {
    &-name {
      font-weight: 600;
      margin-bottom: 5px;
    }
  }

}
