@import "./../../../variables";

.product-text-field {
  font-size: 0.8rem;
  margin-bottom: 10px;


  &__paragraph {
    line-height: 1rem;

    &-title {
      font-weight: 600;
      margin-bottom: 2px;

    }

  }

  &__link {
    color: black;

    &:hover {
      color: $accent-color;
    }
  }
}