.product-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  min-height: 90px;
  padding: 10px;
  background-color: #f6f6f6;

  &__image {
    max-width: 120px;
    max-height: 70px;
    border-radius: 5px;
  }

  &__center {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    margin: 10px;
  }

  &__name {
    font-size: 0.7rem;
    font-weight: 700;
  }

  &__barcode {
    font-size: 0.7rem;
  }

  &__brands {
    font-size: 0.7rem;
    font-weight: 600;

  }

  &__quantity {
    font-size: 0.7rem;
    font-weight: 600;
    white-space: nowrap;

  }

}