.product-nutrition-table-field {
  font-size: 0.8rem;
  margin-bottom: 10px;

  &__name {
    font-weight: 600;
    margin-bottom: 5px;
  }

  &__table {
    max-width: 100%;
    margin: 0 10px;
  }

  thead {
    background-color: #eaeaea;
  }

  th, td {
    text-align: left;
    border-bottom: 1px solid #ddd;
    padding: 5px;
  }

}

.product-nutrition-table-field__row {
  &--is-indented td:first-child {
    padding-left: 20px;
  }
}