@import "./../../../variables";

.product-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 0.8rem;
  background-color: $color3;
  min-height: 60px;
  width: 100%;

  &__link {
    color: black;

    &:hover {
      color: $accent-color;
    }
  }
}