.product-tags-field {
  font-size: 0.8rem;
  margin-bottom: 10px;

  &__name {
    font-weight: 600;
    margin-bottom: 5px;
  }

  &__list {
    line-height: 0.95rem;


    &-item {
      margin-left: 10px;
    }
  }

  &__no-tags {
    font-style: italic;
    margin-left: 10px;
  }
}

