@import "./../../variables";

.stats-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: $page-content-spacing;
  padding-bottom: $navigation-bar-size + $page-content-spacing;

  &__top-controls {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: $page-content-spacing;

    & > * {
      margin-bottom: 0.8em;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @include min-width(tablet) {
      flex-direction: row;
      & > * {
        margin-bottom: 0;
        margin-right: 2em;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
