@import "./../../variables";

.nutritional-information {
  width: 100%;


  &__energy {
    margin-bottom: 1em;

    &-icon {
      $width: 25px;
      width: $width;
      margin-left: -($width /5);
      vertical-align: middle;
    }

    &--strong {
      font-weight: 600;
    }
  }
}