@import "../../variables";

.product-footer {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  min-height: 60px;
  padding: 0 10px;
  text-align: center;
  background-color: $secondary-background-color;

  &__link {
    color: $font-color-black;

    &:hover {
      color: $primary-element-color;
    }
  }
}