@import "../../variables";

.product-header {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 10px;
  background-color: $secondary-background-color;

  &__image {
    max-width: 100px;
    max-height: 70px;
    border-radius: 5px;
  }

  &__center {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 10px;
  }

  &__name, &__barcode, &__brands {

    margin-bottom: 5px;

  }

  &__name {
    font-weight: 700;
  }

  &__brands, &__quantity {
    font-weight: 600;
  }


}