@import "./../../variables";

.product-page-field {
  width: 100%;
  max-width: $max-content-width;
  margin-top: $page-content-spacing + 10px;

  &__title {
    font-size: $medium-font-size;
    font-weight: 600;
    margin-bottom: 1em;
  }

  &__content {
    margin-left: 10px;
  }
}