@import "./../../variables";

.scores-box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  max-width: 350px;
  height: 70px;
  border-radius: $card-border-radius * 2;
  background-color: $primary-background-color;


  &__score {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__value {
    font-size: $giant-font-size;
    font-weight: 700;
    margin-bottom: 0.3em;
    color: $font-color-light-grey;
  }

  &__label {
    color: $font-color-light-grey;
  }

  &__separation {
    display: inline-block;
    width: 1px;
    height: 60%;
    background-color: $tertiary-element-color;
  }

}

