@import "../../variables";

.tag-infos-modal {
  font-size: 0.8rem;
  overflow-y: auto;
  width: 100%;
  max-width: 500px;
  max-height: 100%;
  padding: 20px;
  border-radius: 5px;
  background-color: $primary-background-color;

  &__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color: transparentize($font-color-black, 0.5);
  }

  &__close-button {
    @include reset-button;
    display: block;
    width: 90px;
    height: 30px;
    margin: 20px auto auto;
    padding: 0;
    color: $font-color-white;
    border-radius: 5px;
    background-color: $primary-element-color;
  }

  &__title {
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 0.9rem;
    margin-bottom: 20px;
    text-align: center;
  }
}