@import "./../../variables";

.home-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: $page-content-spacing;
  padding-bottom: $navigation-bar-size + $page-content-spacing;
}
