$main-sidebar-width: 50px;
$main-sidebar-color: #ffffff;
$main-sidebar-indicator-color: #80b918;
$main-sidebar-icon-color: #000000;
.main-sidebar {
  height: 100%;
  width: $main-sidebar-width;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $main-sidebar-color;

  &__profile {
    width: $main-sidebar-width;
    height: $main-sidebar-width;

    // Transparent border to avoid pushing effect
    border-left: 4px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    position: absolute;
  }

  &__menu {
    width: 100%;
    display: flex;
    flex-direction: column;

    &-item {
      height: $main-sidebar-width;
      width: $main-sidebar-width;

      // Transparent border to avoid pushing effect
      border-left: 4px solid transparent;

      display: flex;
      align-items: center;
      justify-content: center;
      margin: 10px 0;
    }

    // Remove margin for first and last items
    & > :first-child {
      margin-top: 0;
    }

    & > :last-child {
      margin-bottom: 0;
    }
  }

  &__button {
    width: 80%;
    height: 80%;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;

    &-icon {
      width: 80%;
      height: 80%;
      fill: $main-sidebar-icon-color;
      color: $main-sidebar-icon-color;
    }
  }

  &__profile--active,
  &__menu-item--active {
    border-left: 4px solid $main-sidebar-indicator-color;

    svg {
      fill: $main-sidebar-indicator-color;
      transition: fill 0.3s;
    }
  }
}
