@import "./../../variables";

.tag-infos-modal {
  font-size: 0.8rem;
  max-width: 500px;
  margin: 30px;
  padding: 20px;
  border-radius: 5px;
  background-color: $color1;

  &__overlay {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
  }

  &__close-button {
    @include reset-button;
    display: block;
    width: 90px;
    height: 30px;
    margin: 20px auto auto;
    padding: 0;
    color: white;
    border-radius: 5px;
    background-color: $accent-color;
  }

  &__title {
    font-size: 0.8rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
  }

  &__paragraph {
    line-height: 1rem;

    &-title {
      margin-bottom: 2px;
      font-weight: 600;
    }

  }

  &__link {
    color: black;

    &:hover {
      color: $accent-color;
    }
  }

}