@import "./../../variables";

.home-view, .product-view, .stats-view {
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.product-view, .stats-view {
  overflow-y: auto;
}

.stats-view {
  &__separator {
    width: 80%;
    border: none;
    border-top: 1px solid black;
    margin: 10px 0;
  }

  &__title {
    font-size: 0.8rem;
    text-align: center;
    margin: 10px 10px 0;
  }
}