@import "./../../../variables";

.stats-page-field {
  max-width: $max-content-width;
  margin-top: $page-content-spacing;
  width: 100%;

  &__title {
    font-size: $medium-font-size;
    margin-bottom: 1em;
    font-weight: 600;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;

    & > * {
      margin-right: $page-content-spacing / 2;
      margin-bottom: $page-content-spacing / 2;
    }
  }
}