.score-history-graph {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 200px;

  &__title {
    font-size: 0.8rem;
    font-weight: 600;
  }
}