@import "../../../variables";

.scanner {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px) saturate(100%);

  &__viewport {
    position: relative;
    width: 100%;

    video {
      width: 100%;
    }

    canvas {
      display: none;
    }
  }

  &__buttons {
    position: absolute;
    z-index: 10;
    top: 5px;
    right: 5px;
    display: flex;
    flex-direction: column-reverse;

  }

  &__close-button, &__flash-button {
    @include reset-button();
    width: 30px;
    height: 30px;
    margin-left: 10px;
    padding: 0;
    border-radius: 50%;

    svg {
      width: 100%;
      height: 100%;
      fill: $font-color-white;
    }
  }
}
