@import "../../../variables";

.search-bar {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: $max-content-width;
  margin-bottom: 20px;

  & > * {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include min-width(mobile) {
    flex-direction: row;
    & > * {
      margin-right: 10px;
      margin-bottom: 0;

      &:last-child {
        margin-right: 0;
      }
    }
  }

}