@import "./../../variables";

.add-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: $page-content-spacing;
  padding-bottom: $navigation-bar-size + $page-content-spacing;

  &__body {
    max-width: $max-content-width * 3/4;
    width: 100%;
  }

  &__scanner {
    margin-top: $page-content-spacing;
    width: 100%;
  }
}