@import "./../variables";

$bottom-panel-color: #e7e7e7;
$bottom-panel-height: 60px;
$bottom-panel-button-color: #80b918;

.bottom-panel {
  height: $bottom-panel-height;
  width: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  background-color: $bottom-panel-color;

  &__input-group {
    width: 70%;
    height: 36px;
    display: flex;
    margin: 0 10px;
  }
  &__barcode-input {
    width: 100%;
    outline: none;
    border: none;
    padding: 0 10px;
    font-size: 1.15rem;
    letter-spacing: 2px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  &__add-button,
  &__scan-button {
    height: 36px;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
    background-color: $bottom-panel-button-color;
  }
  &__add-button {
    min-width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  &__add-icon {
    color: white;
    height: 32px;
    width: 32px;
  }
  &__scan-button {
    width: 30%;
    margin: 0 10px;
    border-radius: 3px;
    font-size: 1rem;
  }
}
