@import "../../../variables";

.scanner {
  width: 100%;

  &__viewport {
    position: relative;
    width: 100%;

    video {
      width: 100%;
    }

    canvas {
      display: none;
    }
  }

  &__buttons {
    position: absolute;
    z-index: 10;
    top: 5px;
    right: 5px;
    display: flex;
    flex-direction: column-reverse;

  }

  &__close-button, &__flash-button {
    @include reset-button();
    width: 30px;
    height: 30px;
    margin-left: 10px;
    padding: 0;
    border-radius: 50%;

    svg {
      width: 100%;
      height: 100%;
      fill: $font-color-white;
    }
  }
}
